body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f2;
    
}

#static {
    width: 1200px;
    height: auto;
}

#menu {
background-color: blue;
}

#reviews {

    background-color: #f2f2f2;
}

#q-a {

    background-color: blue;

}